<div class="m-sticky" data-sticky="true">

	<section class="b-toc">
		<h2 class="toc__headline">Table of Content</h2>
		<div class="toc__content" data-toc="true"></div>
	</section>

	<div class="b-release">
		<h3 id="latest-release">Latest Release</h3>
		<ul>
			<li>
				<a href="https://nodei.co/npm/generator-prototype/">
					<img src="https://nodei.co/npm/generator-prototype.png?downloads=true&amp;stars=true" alt="NPM">
				</a>
			</li>
		</ul>
		<p>
			<a href="http://badge.fury.io/js/generator-prototype">
				<img src="https://badge.fury.io/js/generator-prototype.svg" alt="NPM version">
			</a>
			<a href="https://travis-ci.org/Prototype-Group/generator-prototype">
				<img src="https://travis-ci.org/Prototype-Group/generator-prototype.svg" alt="Build Status">
			</a>
		</p>

	</div>
</div>