---
title: Docs - Styleguide
menuLink: Doc Styleguide
sortOrder: 04
section: Styleguide
---

{{#extend "tpl-default"}}
	{{#content "body"}}
		<h1>My Styleguide</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium aut dolorum eos eum fugit laboriosam, nam nihil non nulla, odio possimus provident quae qui, soluta suscipit voluptas! Nemo, quis!</p>
	{{/content}}
{{/extend}}
